#wrapper{
	margin-top:0px;
	margin-bottom:0px;
	height: 748px;
	width: 445.3px;
	background-color:rgb(126, 172, 126);
	color:white;
	text-align:center;
	margin-left:445.3px;
	}
	
	h1{color:white;
	text-align:center;
	
	font-size:60px;
	
	}
	a{color: white;}